### SQL And SQLite 
SQL(Structured Query Language) is a standard language for managing and manipulating relational databases. SQLite is a self-contained, serverless, and zero-configuration database engine that is widely used for embedded database systems. In this lesson, we will cover the basics of SQL and SQLite, including creating databases, tables,and performing various SQL operations

In [1]:
import sqlite3

In [2]:
## Connect to an SQLite database 
connection=sqlite3.connect('example.db')
connection

In [3]:
cursor=connection.cursor()

In [4]:
## Create a table 
cursor.execute('''
Create Table If Not Exists Employees(
               id Integer Primary Key,
               name Text Not Null,
               age Integer,
               department text
)
''')
## Commit the changes 
connection.commit

In [5]:
cursor.execute('''
select * from employees;
''')

In [9]:
## Insert the data in sqlite table 
cursor.execute('''
insert into employees (name,age,department)
               values ('Krish',32,'Data Scientist')
''')
cursor.execute('''
insert into employees (name,age,department)
               values ('Bob',25,'Engineering')
''')
cursor.execute('''
insert into employees (name,age,department)
               values ('Charlie',35,'Finance')
''')
## commit the changes
connection.commit()

In [11]:
## Query the data from the table
cursor.execute('''
select * from employees;
''')
rows=cursor.fetchall()

## print the queried data 
for row in rows:
    print(row)

(1, 'Krish', 32, 'Data Scientist')
(2, 'Bob', 25, 'Engineering')
(3, 'Charlie', 35, 'Finance')

In [13]:
cursor.execute(''' 
               update employees 
               set age=34
               where name='Krish'
               ''')
connection.commit()

In [14]:
## Query the data from the table
cursor.execute('''
select * from employees;
''')
rows=cursor.fetchall()

## print the queried data 
for row in rows:
    print(row)

(1, 'Krish', 34, 'Data Scientist')
(2, 'Bob', 25, 'Engineering')
(3, 'Charlie', 35, 'Finance')

In [15]:
## Delete the data from the table 
cursor.execute(''' 
               delete from employees 
               where name='Bob' 
               ''')

In [16]:
connection.commit()

In [17]:
## Query the data from the table
cursor.execute('''
select * from employees;
''')
rows=cursor.fetchall()

## print the queried data 
for row in rows:
    print(row)

(1, 'Krish', 34, 'Data Scientist')
(3, 'Charlie', 35, 'Finance')

In [19]:
### Working with Sales Data 
# connect to SQLite database 

connection=sqlite3.connect('sales_data.db')
cursor=connection.cursor()

# Create a table for sales data 
cursor.execute(''' 
               create table if not exists sales(
               id integer primary key,
               date text not null,
               product text not null,
               sales integer,
               region text
               )''')
connection.commit()

In [20]:
sales_data=[
    ('2023-01-01','Product1',100,'North'),
    ('2023-01-02','Product2',200,'South'),
    ('2023-01-03','Product1',150,'East'),
    ('2023-01-04','Product3',250,'West'),
    ('2023-01-05','Product2',300,'North')
]
cursor.executemany(''' 
insert into sales(date,product,sales,region)
                   values(?,?,?,?)''',sales_data)
connection.commit()

In [22]:
## Query the data from the table
cursor.execute('''
select * from sales;
''')
rows=cursor.fetchall()

## print the queried data 
for row in rows:
    print(row)

(1, '2023-01-01', 'Product1', 100, 'North')
(2, '2023-01-02', 'Product2', 200, 'South')
(3, '2023-01-03', 'Product1', 150, 'East')
(4, '2023-01-04', 'Product3', 250, 'West')
(5, '2023-01-05', 'Product2', 300, 'North')

In [23]:
# close the connection
connection.close()