### Data Encoding 

1. Nominal/OHE Encoding 
2. Label and Ordinal Encoding 
3. Target Guided Ordinal Encoding 

### Nominal/OHE Encoding 

One hot encoding also known as nominal encoding, is a technique used to represent categorical data as numerical data, which is more suitable for machine learning algorithms. In this technique, each category is represented as a binary vector where each bit corresponds to a unique category. For example, if we have a categorical variable "color" with three possible values (red,green,blue), we can represent it in one hot encoding as follows:

1. Red: [1,0,0]
2. Green: [0,1,0]
3. Blue: [0,0,1]

In [15]:
import pandas as pd 
from sklearn.preprocessing import OneHotEncoder

In [16]:
## Create a simple dataframe 
df=pd.DataFrame({
    'color':['red','blue','green','red','blue']
})

In [17]:
df.head()

   color
0    red
1   blue
2  green
3    red
4   blue

In [18]:
## create an instance of Onehotencoder 
encoder=OneHotEncoder()

In [19]:
## perform fit and transform 
encoded=encoder.fit_transform(df[['color']]).toarray()

In [20]:
import pandas as pd 
encoder_df=pd.DataFrame(encoded,columns=encoder.get_feature_names_out())

In [21]:
encoder_df

   color_blue  color_green  color_red
0         0.0          0.0        1.0
1         1.0          0.0        0.0
2         0.0          1.0        0.0
3         0.0          0.0        1.0
4         1.0          0.0        0.0

In [22]:
encoder.transform([['blue']]).toarray()

/Users/shindesudeep/Desktop/MachineLearning-DeepLearning/ml_dl_env/lib/python3.12/site-packages/sklearn/base.py:465: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

array([[1., 0., 0.]])

In [23]:
pd.concat([df,encoder_df],axis=1)

   color  color_blue  color_green  color_red
0    red         0.0          0.0        1.0
1   blue         1.0          0.0        0.0
2  green         0.0          1.0        0.0
3    red         0.0          0.0        1.0
4   blue         1.0          0.0        0.0

In [24]:
import seaborn as sns 
df=sns.load_dataset('tips')

In [25]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

### Label Encoding 
Label encoding and ordinal encoding are two techniques used to encode categorical data as numerical data. 
Label encoding involves assigning a unique numerical label to each category in the variable. The labels are usually assigned in alphabetical order or based on the frequency of the categories. For example, if we have a categorical variable "color" with three possible values (red, green, blue), we can represent it using label encoding as follows:

1. Red:1 
2. Green: 2 
3. Blue: 3

In [28]:
df=pd.DataFrame({
    'color':['red','blue','green','red','blue']
})

In [31]:
df

   color
0    red
1   blue
2  green
3    red
4   blue

In [29]:
from sklearn.preprocessing import LabelEncoder 
lbl_encoder=LabelEncoder()

In [30]:
lbl_encoder.fit_transform(df[['color']])

/Users/shindesudeep/Desktop/MachineLearning-DeepLearning/ml_dl_env/lib/python3.12/site-packages/sklearn/preprocessing/_label.py:114: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

array([2, 0, 1, 2, 0])

In [32]:
lbl_encoder.transform([['red']])

/Users/shindesudeep/Desktop/MachineLearning-DeepLearning/ml_dl_env/lib/python3.12/site-packages/sklearn/preprocessing/_label.py:132: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, dtype=self.classes_.dtype, warn=True)

array([2])

### Ordinal Encoding 
It is used to encode categorical data that have an intrinsic order or ranking. In this technique, each category is assigned a numerical value based on its position in the order. For example, if we have a categorical variable "education level" with four possible values (high school, college, graduate, post-graduate), we can represent it using ordinal encoding as follows:
1. High school: 1
2. College: 2
3. Graduate: 3 
4. Post-graduate: 4

In [33]:
from sklearn.preprocessing import OrdinalEncoder

In [34]:
# create a sample dataframe with an ordinal variable 
df= pd.DataFrame({
    'size':['small','medium','large','medium','small','large']
})

In [35]:
df

     size
0   small
1  medium
2   large
3  medium
4   small
5   large

In [36]:
## create an instance of OrdinalEncoder and then fit_transform 
encoder=OrdinalEncoder(categories=[['small','medium','large']])

In [37]:
encoder.fit_transform(df[['size']])

array([[0.],
       [1.],
       [2.],
       [1.],
       [0.],
       [2.]])

In [38]:
encoder.transform([['small']])

/Users/shindesudeep/Desktop/MachineLearning-DeepLearning/ml_dl_env/lib/python3.12/site-packages/sklearn/base.py:465: UserWarning: X does not have valid feature names, but OrdinalEncoder was fitted with feature names
  warnings.warn(

array([[0.]])

### Target Guided Ordinal Encoding 
It is a technique used to encode categorical variables based on their relationship with the target variable. This encoding technique is useful when we have a categorical variable with a large number of unique categories, and we want to use this variable as a feature in our machine learning model. 

In Target Guided Ordinal Encoding, we replace each category in categorical variable with a numerical value based on the mean or median of the target variable for that category. This creates a monotonic relationship between the categorical variable and the target variable, which can improve the predictive power of our model.

In [39]:
df=pd.DataFrame({
    'city':['New York','London','Paris','Tokyo','New York','Paris'],
    'price':[200,150,300,250,180,320]
})

In [40]:
df

       city  price
0  New York    200
1    London    150
2     Paris    300
3     Tokyo    250
4  New York    180
5     Paris    320

In [42]:
mean_price=df.groupby('city')['price'].mean().to_dict()

In [43]:
mean_price

{'London': 150.0, 'New York': 190.0, 'Paris': 310.0, 'Tokyo': 250.0}

In [44]:
df['city_encoded']=df['city'].map(mean_price)

In [45]:
df

       city  price  city_encoded
0  New York    200         190.0
1    London    150         150.0
2     Paris    300         310.0
3     Tokyo    250         250.0
4  New York    180         190.0
5     Paris    320         310.0